<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PYT</title>
    </head>
    <body>
        <div>How do you do?</div>
        <div><%=init.message%></div>
    </body>
</html>